{
    "compact": false,
    "presets": [
        [
            "env",
            {
                "targets": {
                    "chrome": 57,
                    "node": "current",
                    "uglify": true
                },
                // "debug": true,
                "useBuiltIns": true
                // "modules": false
            }
        ], "stage-2",
        "react"
    ],
    "plugins": [
        "react-hot-loader/babel", "transform-class-properties", 
        [
            "babel-plugin-react-css-modules", 
            {
               "filetypes": {
                    ".less": "postcss-less",
                    ".css": "css-loader"
                },
                "webpackHotModuleReloading": true,
                "generateScopedName": "[name]__[local]___[hash:base64:5]"
            }
        ]
    ]
}