.Timeline {
    flex-direction: column;
    .timeframe {
        border-bottom: 1px solid darkgray;
        border-right: 1px solid black;
        height: 20px;
        &:nth-child(odd) {
            border-bottom: 1px solid lightgray;
        }
        &:last-child {
            border-bottom: none;
        }
        &:hover {
            border: 2px solid blue;
        }
        &:first-child .active {
            border-top: 2px solid blue;
        }
    }
    .task {
        width: 100%;
        position: absolute;
        left: 0;
        border-style: solid;
        border-width: 2px;
    }
}
