:global {
    body {
        --border-color: tomato;
        --background-color:  ivory;
        --field-bg: #ffffff;
        --border-color: #2f444f;
        --input-color: #3eb7ea;
        --text-color: #888c8e;
        --dialog-border: #546168;
        --dialog-bg: papayawhip;
    }
}
